<div class="row mt-5 pt-3">
    <div class="col-md-8">
        <div>
            <h4>Amit Navarkar <i class="fa fa-user-plus ml-3" aria-hidden="true"></i>
            </h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pull-left">
            <button type="button" class="btn btn-primary ml-3 pull-right">Reassign Task</button>
            <button type="button" class="btn btn-success pull-right" (click)="postTask()">Post a Task</button>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">My Drafts</h5>
            </div>
            <ul class="list-group list-group-flush">
                <!--Fix this byy foreach start-->
                <li class="list-group-item">
                    <h6>
                        Create Web Page
                    </h6>
                    <span class="font-weight-light fontSize12">Saved before 3 hours</span>
                    <i class="fa fa-bars pull-right marginTop6" aria-hidden="true"></i>
                </li>
                <li class="list-group-item">
                    <h6>
                        Create a DB design
                    </h6>
                    <span class="font-weight-light fontSize12">Saved before 4 days ago</span>
                    <i class="fa fa-bars pull-right marginTop6" aria-hidden="true"></i>
                </li>
                <!--Fix this byy foreach End-->
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Templates</h5>
            </div>
            <ul class="list-group list-group-flush">
                <!--Fix this byy foreach start-->
                <li class="list-group-item">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="pl-2">
                        Mobile Development
                    </span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="pl-2">
                        Web Development
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">My Postings</h5>
            </div>
            <ul class="list-group list-group-flush">
                <!--Fix this byy foreach start-->
                <li class="list-group-item">
                    <span>
                        Create a service for something
                    </span>
                    <i class="fa fa-bars pull-right" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </div>
</div>