<div class="boxShadow card card-user mb-2">
    <div class="card-header">
        <h5 class="card-title ">Task Screening</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" [formGroup]="taskForm">
                <div class="form-control-details mt-1">
                    <label class="labelFontBold">
                        What other skills and expertise are most important to you?
                    </label>
                </div>
                <div class="form-group mt-4">
                    <p class="mb-0">Backend Skills Required</p>
                    <tag-input (onAdd)="onAdding($event)" [identifyBy]="'id'" [displayBy]="'name'" [theme]="'bootstrap'"
                        formControlName="backendSkills" name="items" [secondaryPlaceholder]="'Enter Backend Skillsets'"
                        [placeholder]="'+ Skill'">
                    </tag-input>
                </div>
                <div class="form-group mt-4">
                    <p class="mb-0">UI / UX Skills Required</p>
                    <tag-input (onAdd)="onAdding($event)" [identifyBy]="'id'" [displayBy]="'name'" [theme]="'bootstrap'"
                        formControlName="uiUxSkills" name="items" [secondaryPlaceholder]="'Enter UI / UX Skillsets'"
                        [placeholder]="'+ Skill'">
                    </tag-input>
                </div>
                <div class="form-group mt-4">
                    <p class="mb-0">Others</p>
                    <tag-input (onAdd)="onAdding($event)" [identifyBy]="'id'" [displayBy]="'name'" [theme]="'bootstrap'"
                        formControlName="otherSkills" name="items" [secondaryPlaceholder]="'Enter Other Skillsets'"
                        [placeholder]="'+ Skill'">
                    </tag-input>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="boxShadow card card-user mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [formGroup]="taskForm">
                    <label class="labelFontBold">Screening Questions (Optional)</label><br />
                    <p class="mt-2">Add a few questions you'd like to answer when somebody applying to your
                        task.
                    </p>

                    <div formArrayName="screeningQuestions"
                        *ngFor="let question of taskForm.get('screeningQuestions')['controls']; let i = index;">
                        <div [formGroupName]="i">
                            <input type="text" class="form-control mt-2 w-75 d-inline-block" name="question"
                                formControlName="question">
                            <span (click)="removeQuestion(i)"><i
                                    class="fa fa-times mt-4 mr-5 float-right"></i><br /></span>
                            <code
                                class="marginLeft">{{question.get('question').value? question.get('question').value.length : 0}}/256 characters</code>
                        </div>
                    </div>

                    <div class="ml-2 mt-2 text-success">
                        <div class="cursorPointer">
                            <a class=""><i class="fa fa-plus"></i></a>
                            <span class="ml-2" (click)="addQuestionFn()">Add</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>