<div class="row">
    <div class="col-md-8">
        <div class="card card-ser userCard">
            <div class="card-body">
                <div class="author">
                    <h5 class="title">Jon Doe</h5>
                    <p class="description">@jondoe </p>
                </div>
                <div class="description">
                    <strong>Full-stack PHP Developer | Codeignitor | Wordpress</strong>
                    <br>
                    <small>High Quality | Clean code | In-time</small>
                    <p>Delivery I'll be the right person for your project as I ecer compromise tge quaity id delivery &
                        at the end, only your satisfaction will be reward to my efforts.
                    </p>
                    <br><strong>Why you should hire me?</strong>
                    <ul>
                        <li>** 100+ projects completed **</li>
                        <li>** Always deliver on time **</li>
                        <li>** Strict to deadlines and milestones **</li>
                        <li>** 100+ Client satisfaction guaranteed **</li>
                        <li>** Redy for Immediate start **</li>
                        <li>** Always deliver on time **</li>
                    </ul>
                    <strong>My techncal expertise at a glance:</strong>
                    <p>--- Solid understanding and experience with HTML/Html5, CSS/CSS3...
                        <a href="more"></a>
                    </p>
                </div>
            </div>

            <div class="card-footer">
                <hr>
                <div class="button-container">
                    <div class="row">
                        <div class="col-md-3 pad">
                            <h6>$11.00
                                <br>
                                <small> Hourly Rate</small>
                            </h6>
                        </div>
                        <div class="col-md-3 pad">
                            <h6>$9k+
                                <br>
                                <small> Total Earned</small>
                            </h6>
                        </div>
                        <div class="col-md-3 pad">
                            <h6>16
                                <br>
                                <small> Jobs</small>
                            </h6>
                        </div>
                        <div class="col-md-3 pad">
                            <h6>247
                                <br>
                                <small> Hourly Worked</small>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <button class="btn btn-primary ml-3" type="button">Invite</button>
        <button class="btn btn-success" type="button">Save</button>
    </div>
</div>