<div class="row sidebarNavigation mb-3 mt-3" *ngIf="isSidebar">
    <div class="col-md-6">
        <i class="fa fa-arrow-circle-left"></i>
        Back to list
    </div>
    <div class="col-md-6 ">
        <span class="float-right" (click)="openProfileDetails()">
            <i class="fa fa-window-restore"></i>
            Open profile in new window
        </span>
    </div>
</div>

<div class="row sidebarContent mt-3" *ngIf="userDetails">
    <div class="col-md-3">
        <ul class="nav flex-column nav-pills" aria-orientation="vertical">
            <li class="nav-link" [ngClass]="{'active': 'profileTemplate' == selectedTemplateId }"
                (click)="openProfileSection('profileTemplate')">
                <a>Profile</a>
            </li>
            <li class="nav-link" [ngClass]="{'active': 'skillsetsTemplate' == selectedTemplateId }"
                (click)="openProfileSection('skillsetsTemplate')">
                <a>Skillsets</a>
            </li>
            <li class="nav-link" [ngClass]="{'active': 'historyFeedbackTemplate' == selectedTemplateId }"
                (click)="openProfileSection('historyFeedbackTemplate')">
                <a>Work History and Feedback</a>
            </li>
        </ul>
        <hr />
        <div class="pad ml-3" *ngIf="userDetails.availableTime">
            <label class="title">Availablility</label><br />
            <span>Less than {{userDetails.availableTime}} hours</span>
        </div>
        <hr />
        <div class="pad align-center">
            <button class="btn btn-default" style="margin-top: 10px;margin-right: 3px;border: 1px solid #ccc;"><i
                    class="fa fa-heart"></i></button>
            <a [href]="'sip:' + userDetails.email"><button class="btn btn-primary"
                    style="margin-top: 10px;">Contact</button></a>
        </div>
    </div>

    <div class="col-md-9">
        <div [ngSwitch]="selectedTemplateId">
            <ng-container *ngSwitchCase="'skillsetsTemplate'" [ngTemplateOutlet]="skillsetsTemplate">
            </ng-container>
            <ng-container *ngSwitchCase="'historyFeedbackTemplate'" [ngTemplateOutlet]="historyFeedbackTemplate">
            </ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="profileTemplate">
            </ng-container>
        </div>
    </div>
</div>

<ng-template #profileTemplate>
    <div class="card-body boxDesign">
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-user-circle userIcon" aria-hidden="true"></i>
            </div>

            <div class="col-md-9 pad user">
                <div class="ml-3">
                    <h6 class="title"> {{userDetails.name}} </h6>
                    <br />

                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{userDetails.location}}
                    </span>
                    |
                    <span>
                        BU: {{userDetails.buName}}
                    </span>
                </div>
            </div>

            <div class="col-md-2">
                <span class=" float-right">
                    <i class="fa fa-star" aria-hidden="true"></i> {{userDetails.rating}}
                    ({{userDetails.workHistoryAndFeedbackDTO ? userDetails.workHistoryAndFeedbackDTO.length : 0}})
                </span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <p [innerHTML]="userDetails.description"></p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 pl-5 border-right">
                <i class="fa fa-clock-o"></i> &nbsp; <strong>{{userDetails.numberOfTasksCompleted}}</strong><br>
                <small style="position: relative; left: 20px;">Hours Worked</small>
            </div>
            <div class="col-md-4 pl-5 border-right">
                <i class="fa fa-battery-three-quarters"></i> &nbsp;
                <strong>{{userDetails.skillDetails[0]['level']}}</strong><br>
                <small style="position: relative; left: 20px;">Experties</small>
            </div>
            <div class="col-md-4 pl-5">
                <i class="fa fa-handshake-o" aria-hidden="true"></i> &nbsp;
                <strong>{{userDetails.numberOfTasksCompleted}}</strong><br>
                <small style="position: relative; left: 20px;">Task Completed</small>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #skillsetsTemplate>
    <div class="card-body boxDesign">
        <div class="row mb-4">
            <div class="col-md-12">
                <strong>Skills and Expertise</strong>
            </div>
        </div>

        <hr />

        <div class="row mb-4">
            <div class="col-md-6">
                <strong>Backend Skills Required</strong><br>
                <label class="label label-default">N/A</label>
            </div>
            <div class="col-md-6">
                <strong>Databases</strong><br>
                <label class="label label-default">N/A</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <strong>UI Skills Required</strong><br>
                <label class="label label-default">Angular Js</label>
                <label class="label label-default">HTML</label>
                <label class="label label-default">CSS</label>
                <label class="label label-default">Javascript</label>
            </div>
            <div class="col-md-6">
                <strong>Others</strong><br>
                <label class="label label-default">N/A</label>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #historyFeedbackTemplate>
    <div class="card-body boxDesign">
        <div class="row mb-4">
            <div class="col-md-12">
                <strong>Work History and Feedback</strong>
            </div>
        </div>

        <hr />

        <div class="row mb-4" *ngFor="let work of userDetails.workHistoryAndFeedbackDTO">
            <hr />
            <div class="col-md-10">
                <strong>{{work.taskName}}</strong><br />
                <code>{{work.completionDate}}</code><br /><br />
                <span class="mt-5">{{work.feedbackComment}}</span>
            </div>
            <div class="col-md-2 float-right">
                <i *ngFor="let i of getArray( work.rating)" class="fa fa-star" aria-hidden="true"></i> 4
            </div>
        </div>

    </div>
</ng-template>