<div class="boxShadow card card-user mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="labelFontBold">Task Name</label><br />
                    <p class="mt-3">{{taskForm.get('taskName').value}}</p>
                </div>

                <hr />
                <div class="form-group mt-4">
                    <label class="labelFontBold">Task Category</label><br />
                    <p class="mt-3">{{taskForm.get('taskTopicName').value}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="boxShadow card card-user mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="labelFontBold">Task Description</label><br />
                    <p class="mt-3" [innerHTML]="taskForm.get('taskDescription').value"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="boxShadow card card-user mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="labelFontBold">Task Type</label><br />
                    <p class="mt-3">{{taskForm.get('taskType').value}}</p>
                </div>

                <hr />
                <div class="form-group mt-4">
                    <label class="labelFontBold">Screening Questions</label><br />

                    <div class="mt-3"
                        *ngFor="let question of taskForm.get('screeningQuestions')['controls']; let i=index;">
                        <p class="ml-3 mb-2">{{i+1}}. {{question.get('questionName').value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="boxShadow card card-user mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="labelFontBold">Skills and Experties</label><br />
                    <div class="form-control-details mt-3 mt-2"
                        *ngIf="taskForm.get('taskSkills').value && taskForm.get('taskSkills').value.length">
                        <label class="labelFontBold">
                            Selected Skills
                        </label>

                        <br /> <br />
                        <p class="ml-3">
                            <span class="label label-default"
                                *ngFor="let skill of taskForm.get('taskSkills').value">{{skill.name}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>