<div class="row pt-4">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <i class="fa fa-search absolutePos"></i>
                <input type="text" class="form-control searchInput" size="50" placeholder="Search by Title">
                <button (click)="isShowFilters = !isShowFilters" type="button" class="btn btn-primary pull-right">
                    <i class="fa fa-filter mr-2"></i>
                    Filters
                </button>
            </div>

            <div *ngIf="isShowFilters" class="card-header height150">Filters will come inside
                this...</div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item cursorPointer" *ngFor="let task of tasks"
                    [routerLink]="['/posts', 'edit', task.taskId]">
                    <h6>
                        {{task.taskName}}
                    </h6>
                    <!-- <span class="fontSize8">Saved </span> -->
                    {{task.taskStatus}} - <span class="font-weight-light fontSize12">{{task.taskCreateDate}}</span>
                    <i class="fa fa-bars pull-right marginTop6" aria-hidden="true"></i>
                </li>

            </ul>
        </div>
    </div>