<div class="boxShadow card card-user mb-2">
    <div class="card-header">
        <h5 class="card-title ">Task Overview</h5>
    </div>
    <div class="card-body" [formGroup]="taskForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="labelFontBold">Enter the name of your task</label>
                    <input type="text" class="form-control mt-2" name="taskName" formControlName="taskName">
                </div>
                <div class="form-control-details mt-2">
                    <label class="labelFontBold">
                        Here are some good examples:
                    </label>
                    <ul>
                        <li>Developer needed for creating a responsive WordPress Theme</li>
                        <li>CAD designer to create a 3D model of a residential building</li>
                        <li>Need a design for a new company logo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="boxShadow card card-user mb-2" [formGroup]="taskForm">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="labelFontBold">Task Category</label><br />
                    <span class="mt-4">Here are some suggestions based on your task title:</span>
                    <div class="radio m-2" *ngFor="let topic of taskTopics">
                        <label><input class="mr-2" type="radio" [value]="topic['topicId']" name="taskTopic"
                                formControlName="taskTopic">{{topic['topicName']}}</label>
                    </div>

                    <span class="text-success mt-3"><a>See more options</a></span>
                </div>
            </div>
        </div>
    </div>
</div>