<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/quest.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="SOEID" [(ngModel)]="soeId">
            <!-- <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password"> -->
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="logIn()">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>