<ul class="nav flex-column nav-pills" aria-orientation="vertical">
    <li class="nav-link" [ngClass]="{'active': TASK_SECTION.TASK_OVERVIEW == selectedTemplateId }"
        (click)="openSectionFn(TASK_SECTION.TASK_OVERVIEW)">
        <a>Task Overview</a>
    </li>
    <li class="nav-link" [ngClass]="{'active': TASK_SECTION.TASK_DESCRIPTION == selectedTemplateId }"
        (click)="openSectionFn(TASK_SECTION.TASK_DESCRIPTION)">
        <a>Task Description</a>
    </li>
    <li class="nav-link" [ngClass]="{'active': TASK_SECTION.TASK_SCREENING == selectedTemplateId }"
        (click)="openSectionFn(TASK_SECTION.TASK_SCREENING)">
        <a>Task Screening</a>
    </li>
    <li class="nav-link" [ngClass]="{'active': TASK_SECTION.TASK_SKILLSETS == selectedTemplateId }"
        (click)="openSectionFn(TASK_SECTION.TASK_SKILLSETS)">
        <a>Task Skillsets</a>
    </li>
    <li class="nav-link" [ngClass]="{'active': TASK_SECTION.REVIEW_AND_POST == selectedTemplateId }"
        (click)="openSectionFn(TASK_SECTION.REVIEW_AND_POST)">
        <a>Review and Post</a>
    </li>
</ul>