.title {
  color: #008de6;
  padding: 6px 0px;
  cursor: pointer;
}
.detailBlock {
  background: #eee;
  padding: 5px;
  margin-bottom: 10px !important;
}

.user {
  width: auto;
  display: -webkit-box;
  margin-top: 10px;
}
.userIcon {
  font-size: 48px;
  color: #ccc;
  margin-right: 10px;
  margin-top: 4px;
  display: inherit;
}
.user .title {
  margin-bottom: 0px;
  display: initial;
  position: relative;
  top: 4px;
}
.align-center {
  text-align: center;
}
