<div class="boxShadow card card-user mb-2">
    <div class="card-header">
        <h5 class="card-title ">Task Skillsets</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-control-details mt-1">
                    <label class="labelFontBold">
                        What skills and expertise are most important to you?
                    </label>
                </div>
                <div class="form-group">
                    <p-chips [(ngModel)]="selectedSkills" [allowDuplicate]="false" (onAdd)="onSelectSkill($event)">
                    </p-chips>
                </div>


                <div class="form-control-details mt-1" *ngIf="selectedSkills.length">
                    <hr />
                    <label class="labelFontBold">
                        Selected Skills
                    </label>

                    <br /> <br />
                    <span class="label label-default" *ngFor="let skill of selectedSkills">{{skill}}</span>
                </div>
            </div>
        </div>
    </div>
</div>