<div class="boxShadow card card-user mb-2">
    <div class="card-header">
        <h5 class="card-title ">Task Skillsets</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" [formGroup]="taskForm">
                <div class="form-control-details mt-1">
                    <label class="labelFontBold">
                        What skills and expertise are most important to you?
                    </label>
                </div>
                <div class="form-group">
                    <tag-input [identifyBy]="'id'" [displayBy]="'name'" [theme]="'bootstrap'"
                        formControlName="taskSkills" name="items" [secondaryPlaceholder]="'Enter Required Skillset'"
                        [placeholder]="'+ Skill'">
                    </tag-input>
                </div>


                <div class="form-control-details mt-1 mt-2"
                    *ngIf="taskForm.get('taskSkills').value && taskForm.get('taskSkills').value.length">
                    <label class="labelFontBold">
                        Selected Skills
                    </label>

                    <br /> <br />
                    <span class="label label-default"
                        *ngFor="let skill of taskForm.get('taskSkills').value">{{skill.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>