<div class="container pad-t-15 pad-b-15">
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-md-10 pad" style="display: inline-flex">
            <input type="text" class="form-control textBox" placeholder="Search Saved Freelancers">
        </div>
        <div class="col-md-2 pad">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-md-12 pad card">
        <div class="card-header">
            <!-- <input type="checkbox">&nbsp; -->
            <label> 10 Results</label>
            <div class="pull-right"><strong>Sort By: &nbsp; </strong>
                <label style="cursor: pointer;" (click)="sortBy.toggle($event)">Newest <i
                        class="fa fa-angle-down"></i></label>
                <p-overlayPanel #sortBy styleClass="sortBy">
                    <ol class="subMenu"
                        style="list-style-type:none; margin-bottom: 0px; padding-left: 0px; padding-bottom: 0;">
                        <li>Newest</li>
                        <li>Oldest</li>
                        <li>Coming Soon</li>
                    </ol>
                </p-overlayPanel>
            </div>
        </div>
        <div class="card-body pad">
            <div class="row">
                <div class="col-md-1">
                    <i aria-hidden="true" class="fa fa-user-circle userIcon"></i>
                </div>
                <div class="col-md-7">
                    <h6 class="title">Amit Navarkar</h6>
                    <strong style="display: block;">Web and UI Developer</strong>
                </div>
                <div class="col-md-4 pad-l" style="position: relative; top: 10px;">
                    <span>
                        <button class="btn btn-success pull-right">Invite to job</button>
                        <button class="btn btn-secondary pull-right mar-r-10">Hire Freelancer</button>
                        <i class="fa fa-heart pull-right mar-r-10 mar-t-10"></i>
                    </span>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3  pad align-center mar-t-10">
                    <strong>$2.00 </strong><label> / hr</label>
                </div>
                <div class="col-md-4 pad align-center mar-t-10">
                    <strong>$k+ </strong><label> earned</label>
                </div>
                <div class="col-md-4 pad align-center mar-t-10">
                    <strong>India </strong>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-11 mar-t-10">
                    <p>Description . . . .</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-1">
                    <i aria-hidden="true" class="fa fa-user-circle userIcon"></i>
                </div>
                <div class="col-md-7">
                    <h6 class="title">Amit Navarkar</h6>
                    <strong style="display: block;">Web and UI Developer</strong>
                </div>
                <div class="col-md-4 pad-l" style="position: relative; top: 10px;">
                    <span>
                        <button class="btn btn-success pull-right">Invite to job</button>
                        <button class="btn btn-secondary pull-right mar-r-10">Hire Freelancer</button>
                        <i class="fa fa-heart pull-right mar-r-10 mar-t-10"></i>
                    </span>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3  pad align-center mar-t-10">
                    <strong>$2.00 </strong><label> / hr</label>
                </div>
                <div class="col-md-4 pad align-center mar-t-10">
                    <strong>$k+ </strong><label> earned</label>
                </div>
                <div class="col-md-4 pad align-center mar-t-10">
                    <strong>India </strong>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-11 mar-t-10">
                    <p>Description . . . .</p>
                </div>
            </div>
        </div>
    </div>
</div>