::ng-deep {
  .profileDetails .card-body,
  .card-header {
    border: 1px solid #ccc !important;
  }
}

.card-body {
  border: 1px solid #ccc;
  background: #fff;
}

::ng-deep {
  .profileDetails .card-body {
    height: calc(100vh - 160px);
    overflow-y: auto;
  }
}

.title {
  color: #008de6;
}

.user .title {
  margin-bottom: 0px;
  display: initial;
  position: relative;
  top: 4px;
}

.userIcon {
  font-size: 48px;
  color: #ccc;
  margin-right: 10px;
  margin-top: 4px;
  display: inherit;
}


.sidebarNavigation {
    color: #379F01;
    font-size: 15px;
}