<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Post Detail</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 pr-1">
                        <div class="form-group">
                            <label>Post Id: </label>
                            <span class="marginLeft35">{{this.postDetails.postId}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pr-1">
                        <div class="form-group">
                            <label>Post Name: </label>
                            <span class="marginLeft35">{{this.postDetails.postName}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pr-1">
                        <div class="form-group">
                            <label>Post Date: </label>
                            <span class="marginLeft35">{{this.postDetails.postDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pr-1">
                        <div class="form-group">
                            <label>Post Topic: </label>
                            <span class="marginLeft35">{{this.postDetails.postTopic}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>