<div class="ml-2 mt-2" *ngIf="taskDetails">
    <div class="row sidebarNavigation" *ngIf="isSidebar">
        <div class="col-md-6">
            <i class="fa fa-arrow-circle-left"></i>
            Back to list
        </div>
        <div class="col-md-6">
            <span class="float-right" (click)="openPostDetails(taskDetails.taskId)">
                <i class="fa fa-window-restore"></i>
                Open profile in new window
            </span>
        </div>
    </div>

    <hr *ngIf="isSidebar" />


    <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <h4>{{taskDetails.taskName}}</h4>
            </div>
            <div class="card-body">
                <label class="title">{{taskDetails.taskName}}</label><br>
                <small>{{taskDetails.taskCreateDate | dateAgoPipe}}</small>
                <br>

                <p class="mt-3" [innerHtml]="taskDetails.taskDescription"></p>
                <br>
                <p>Primary Skills (Must have knowledge of) </p>
                <ul>
                    <li *ngFor="let skill of taskDetails.taskSkills">{{skill.name}}</li>
                </ul>
                <br>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-clock-o"></i> &nbsp; <strong>{{taskDetails.manHoursNeeded}}</strong><br>
                        <small style="position: relative; left: 20px;">Hours Needed</small>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-calendar"></i> &nbsp;
                        <strong>{{getItemNameById(taskDetails?.taskTypeId, 'taskType' )}}</strong><br>
                        <small style="position: relative; left: 20px;">Task Type</small>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-dollar"></i> &nbsp;
                        <strong>{{getItemNameById(taskDetails.rewardTypeId, 'rewardType' )}}</strong><br>
                        <small style="position: relative; left: 20px;">Reward Type</small>
                    </div>
                </div>
                <hr>
                <strong>Project Type : </strong> <label>Ongoing Project</label>
                <hr>
                <strong>Other Skills and Expertise</strong><br><br>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Backend Required Skills</strong><br>
                        <div *ngIf="taskDetails.backendSkills; else elseNaTemplate">
                            <label class="label label-default"
                                *ngFor="let skill of taskDetails.backendSkills">{{skill.name}}</label>
                        </div>
                        <ng-template #elseNaTemplate>
                            <label class="label label-default">N/A</label>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <strong>Databases</strong><br>
                        <label class="label label-default">N/A</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>UI/UX Required Skills</strong><br>
                        <div *ngIf="taskDetails.uiUxSkills; else elseNaTemplate">
                            <label class="label label-default"
                                *ngFor="let skill of taskDetails.uiUxSkills">{{skill.name}}</label>
                        </div>
                        <ng-template #elseNaTemplate>
                            <label class="label label-default">N/A</label>
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <strong>Others</strong><br>
                        <div *ngIf="taskDetails.otherSkills; else elseNaTemplate">
                            <label class="label label-default"
                                *ngFor="let skill of taskDetails.otherSkills">{{skill.name}}</label>
                        </div>
                        <ng-template #elseNaTemplate>
                            <label class="label label-default">N/A</label>
                        </ng-template>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="row">
                        <strong>Other Similar Tasks </strong><br><br>
                    </div>
                    <div class="row sidebarNavigation">
                        <div class="col-md-12" *ngFor="let task of taskDetails.simillarTasks">
                            <span class="float-left" (click)="openPostDetails(task.id)">
                                <a href="">{{task.taskName}}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-header align-center">
                <button class="btn btn-success">Post a Job Like This</button>
            </div>
            <div class="card-body align-center">
                <button class="btn btn-default fa-btn" (click)="markAsFavorite()"><i class="fa "
                        [ngClass]="{'fa-star active': taskDetails.markedAsFavorite, 'fa-star-o': !taskDetails.markedAsFavorite}"></i></button>
                <button class="btn btn-primary" style="margin-top: 10px;" (click)="applyToTask()">Apply</button>

                <div class="card-header" style="margin-top: 15px;">
                    <strong>Posted By</strong>
                </div>
                <div class="card-body" style="height: auto !important;">
                    <div class="user">
                        <i class="fa fa-user-circle-o userIcon"></i>
                        <h6 class="title">{{taskDetails?.taskCreatedBy?.name}}</h6><br>
                        <strong><i class="fa fa-map-marker"></i>&nbsp; {{taskDetails?.taskCreatedBy?.location}}</strong>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">BU: </div>
                        <div class="col-md-6 pad smallFont align-right">{{taskDetails?.taskCreatedBy?.buName}}</div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Designation:</div>
                        <div class="col-md-6 pad smallFont align-right">{{taskDetails?.taskCreatedBy?.designation}}
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Project:</div>
                        <div class="col-md-6 pad smallFont align-right">
                            {{taskDetails?.taskCreatedBy?.numberOfProjects ? taskDetails?.taskCreatedBy?.numberOfProjects : 0}}
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>