<div class="row mt-3">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control w-75 d-inline-block">
            <div class="float-right mt-2">
                <span class="mr-3"><i class="fa fa-sort filterIcons"></i></span>
                <span class="mr-3"> <i class=" fa fa-filter filterIcons"></i></span>
            </div>
        </div>
        <div>
            <ul class="nav flex-column nav-pills" aria-orientation="vertical">
                <li class="nav-link boxDesign p-1 mb-2" *ngFor="let notification of notifications"
                    [ngClass]="{'selected': 1 == i}" (click)="showNotificationDetails(notification)">
                    <div class="row">
                        <div class="col-md-2 p-1">
                            <i class="fa fa-user-circle userIcon align-middle" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-10 p-1">
                            <div class="row">
                                <div class="col-md-6 p-0"><span class="title">{{notification?.userInfo?.name}}</span>
                                </div>
                                <div class="col-md-6">
                                    <span
                                        class="float-right font-weight-light"><small>{{notification?.notification?.createdDate}}</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 p-0 text-center font-weight-light">
                                    <small><i class="fa fa-clock-o"></i>
                                        {{notification?.userInfo?.totalHoursWorked ? notification?.userInfo?.totalHoursWorked : 0 }}</small>
                                </div>|
                                <div class="col-md-5 p-0 text-center font-weight-light">
                                    <small><i class="fa fa-battery-three-quarters"></i>
                                        {{notification?.userInfo?.skillDetails[0]['level']}}
                                    </small>
                                </div> |
                                <div class="col-md-3 p-0 text-center font-weight-light">
                                    <small><i class="fa fa-handshake-o" aria-hidden="true"></i>
                                        {{notification?.userInfo?.numberOfTasksCompleted ? notification?.userInfo?.numberOfTasksCompleted : 0}}</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-0 font-weight-light">
                                    <small>{{notification?.notification?.taskName}}</small></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 pl-0">
        <div class="boxDesign">
            <ng-container [ngTemplateOutlet]="mailTemplate">
            </ng-container>
        </div>
    </div>
</div>

<ng-template #mailTemplate>
    <div class="card-header">
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-user-circle userIcon" aria-hidden="true"></i>
            </div>

            <div class="col-md-9 pad user">
                <div class="ml-3">
                    <h6 class="title"> {{selectedNotification?.userInfo?.name}} </h6>
                    <br />

                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{selectedNotification?.userInfo?.location}}
                    </span>
                    |
                    <span>
                        BU: {{selectedNotification?.userInfo?.buName}}
                    </span>
                </div>
            </div>

            <div class="col-md-2 mt-4">
                <span class="float-right">
                    <i class="fa fa-star" aria-hidden="true"></i> {{selectedNotification?.userInfo?.rating}}
                    ({{selectedNotification?.userInfo?.workHistoryAndFeedbackDTO ? selectedNotification?.userInfo?.workHistoryAndFeedbackDTO.length : 0}})
                </span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row m-0">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="float-right">
                            <span class="ml-2 mr-2 text-success"><i class="fa fa-thumbs-up "></i> Approve</span> |
                            <span class="ml-2 mr-2 text-warning"><i class="fa fa-reply"></i> Return</span>
                            |
                            <span class="ml-2 mr-2 text-danger"><i class="fa fa-trash"></i> Delete</span> |
                            <span class="ml-2 mr-2 text-info"><i class="fa fa-user-circle "></i> Details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12 text-primary">
                <h5>{{selectedNotification?.notification?.taskName}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-4">
                <label class="text-primary">Available Dates</label><br />
                <div class="ml-3">
                    <p>{{selectedNotification?.application?.startDate | date: 'mediumDate' }} -
                        {{selectedNotification?.application?.endDate | date: 'mediumDate'}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-2">
                <label class="text-primary">Screening Questions:</label><br />
                <div class="ml-3 mt-1">
                    <div *ngFor="let questionObj of selectedNotification?.application?.screeningQuestions">
                        <p class="text-info p-0 m-0">{{questionObj?.question?.question}}</p>
                        <p>{{questionObj?.answer}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-2">
                <label class="text-primary">Comments or Notes:</label><br />
                <div class="ml-3 mt-1">
                    <p>{{selectedNotification?.application?.commentsOrNotes}} </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>