<div class="col-md-12 pad wallImg">
    <div class="input-group mb-3 searchBar">
        <p-autoComplete class="autoComplete" placeholder="What kind of work you need to do?" [immutable]="false"
            [(ngModel)]="searchString" [suggestions]="topicList" (completeMethod)="searchTopics($event)" field="name"
            (onSelect)="onTopicSelect($event)">
        </p-autoComplete>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" style="padding: 0px 10px;">Get Started</button>
        </div>
    </div>
</div>

<div class="row m-2" style="margin-top: 45px !important; margin-bottom: 25px !important;">
    <div class="col-md-4 blocks">
        <div class="card">
            <div class="icon">
                <i class="fa fa-globe"></i>
            </div>
            <p class="title1">Worldwide</p>
            <p class="title2">300</p>
            <p class="title3">Members</p>
        </div>
    </div>

    <div class="col-md-4 blocks">
        <div class="card">
            <div class="icon">
                <i class="fa fa-tasks"></i>
            </div>
            <p class="title1">Tasks</p>
            <p class="title2">10</p>
            <p class="title3">Completed</p>
        </div>
    </div>

    <div class="col-md-4 blocks">
        <div class="card">
            <div class="icon">
                <i class="fa fa-dollar"></i>
            </div>
            <p class="title1">Money</p>
            <p class="title2">$100</p>
            <p class="title3">Saved</p>
        </div>
    </div>
</div>

<div class="col-md-12 pad alignCenter">
    <app-home-carousel>
    </app-home-carousel>
</div>