/*--------------------------------------------------------------
# home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: calc(100vh - 40px);
  background: url(/assets/images/home-bg.png) center bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 40px;
}

@media (min-width: 1025px) {
  #home {
    background-attachment: fixed;
  }
}

#home .home-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #71c55d;
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#home h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#home img {
  max-width: 95%;
  margin-bottom: 30px;
}

#home .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #71c55d;
  background: #fff;
  color: #71c55d;
  text-decoration: none;
}

#home .btn-get-started:hover {
  background: #71c55d;
  color: #fff;
}

#home .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #home .btns a {
    margin: 4px 8px;
  }
}

#home .btns a:hover {
  color: #71c55d;
}
.wallImg {
  background: url(/assets/images/citi-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.searchBar {
  position: relative;
  top: 50vh;
  left: 35vw;
  width: 31%;
}
::ng-deep .autoComplete .ui-inputtext{
  width: 22vw !important;
}
.alignCenter {
  text-align: center;
}