<section id="home" class="wow fadeIn">
    <div class="home-container">
        <div>
            <h1>Welcome to Quest Hub</h1>
            <h2>Here you can post your task and everyone can find you &amp; more...</h2>
            <img src="assets/images/home-img.png">

            <p-autoComplete [immutable]="false" [(ngModel)]="searchString" [suggestions]="topicList"
                (completeMethod)="searchTopics($event)" field="name" (onSelect)="onTopicSelect($event)">
            </p-autoComplete>
        </div>
        <div>
            <app-home-carousel>
            </app-home-carousel>
        </div>
    </div>

</section>