.fontSize8 {
    font-size: 8px;
}

.absolutePos{
    position: absolute;
    padding-left: 12px;
    padding-top: 10px;
}

.searchInput {
    text-indent: 23px;
    width: 50% !important;
    display: inline-block;
}

.height150 {
    height: 150px !important;
}