<div class="container pad-t-15 pad-b-15">
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-md-10 pad-l" style="display: inline-flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i
                        class="fa fa-list-alt"></i> &nbsp;Any Category
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Select a Category</a></li>
                </ul>
            </div>
            <input type="text" class="form-control textBox">
        </div>
        <div class="col-md-2 pad">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i
                    class="fa fa-filter"></i> &nbsp;Filters
                <span class="caret"></span></button>
        </div>
    </div>
    <div class="col-md-12 pad card">
        <div class="card-header">
            <input type="checkbox">&nbsp;
            <label> 2443 Results</label>
            <div class="pull-right"><strong>Sort By: &nbsp; </strong><label>Newest <i
                        class="fa fa-angle-down"></i></label></div>
        </div>
        <div class="card-body pad">
            <app-post-overview-card (emitClick)="test($event)"></app-post-overview-card>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="displaySidebar" position="right" styleClass="ui-sidebar-lg profileDetails">
    <div class="row">
        <div class="col-md-8 pad">
            <div class="card-header">
                <h4>Full Stack Developer - Angular, Jquery, ASP.NET MVC, c#</h4>
            </div>
            <div class="card-body">
                <label class="title">Full Stack Development</label><br>
                <small>Posted 3 years ago</small>
                <br>
                <strong>Need to hire 7 Freelancers</strong>
                <p>Full Stack Developer - Angularjs, Jquery, ASP.NET MVC</p>
                <br>
                <p>Primary Skills (Must have knowledge of) </p>
                <ul>
                    <li>Angular JS</li>
                    <li>ASP.NET MVC</li>
                    <li>Jquery</li>
                </ul>
                <br>
                <p>Secondary Skills (Nice to have) </p>
                <ul>
                    <li>Microsoft SQL</li>
                    <li>C# .NET</li>
                    <li>Web Services and Web API</li>
                </ul>
                <strong>Qualification: </strong><label>Any Graduate</label><br>
                <strong>Experience: </strong><label>2 - 7 Years</label>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-clock-o"></i> &nbsp; <strong>Hours to be determined</strong><br>
                        <small style="position: relative; left: 20px;">Hourly</small>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-calendar"></i> &nbsp; <strong>More than 6 hours</strong><br>
                        <small style="position: relative; left: 20px;">Project Length</small>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-dollar"></i> &nbsp; <strong>Entry Level</strong><br>
                        <small style="position: relative; left: 20px;">I am looking for freelancers with lowest
                            rates</small>
                    </div>
                </div>
                <hr>
                <strong>Project Type : </strong> <label>Ongoing Project</label>
                <hr>
                <strong>Skills and Expertise</strong><br><br>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Full-Stack Development Skills</strong><br>
                        <label class="label label-default">Angular Js Jobs</label>
                        <label class="label label-default">ASP.NET Jobs</label>
                        <label class="label label-default">Database Design Jobs</label>
                        <label class="label label-default">.NET framework Jobs</label>
                        <label class="label label-default">jQuery Jobs</label>
                    </div>
                    <div class="col-md-6">
                        <strong>Databases</strong><br>
                        <label class="label label-default">MySQL Administration Jobs</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Full-Stack Development Deliverables</strong><br>
                        <label class="label label-default">Database Design Jobs</label>
                    </div>
                    <div class="col-md-6">
                        <strong>Others</strong><br>
                        <label class="label label-default">Angular Js Jobs</label>
                        <label class="label label-default">ASP.NET Jobs</label>
                        <label class="label label-default">Database Design Jobs</label>
                        <label class="label label-default">.NET framework Jobs</label>
                        <label class="label label-default">jQuery Jobs</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-header align-center">
                <button class="btn btn-success">Post a Job Like This</button>
            </div>
            <div class="card-body align-center">
                <button class="btn btn-default" style="margin-top: 10px;margin-right: 3px;border: 1px solid #ccc;"><i
                        class="fa fa-star"></i></button>
                <button class="btn btn-primary" style="margin-top: 10px;">Send Quote</button>
                <label class="label-default" style="margin: 15px 0px;">This and other jobs await your
                    proposal</label><br>
                <div class="card-header" style="margin-top: 15px;">
                    <strong>Posted By</strong>
                </div>
                <div class="card-body" style="height: auto !important;">
                    <div class="user">
                        <i class="fa fa-user-circle-o userIcon"></i>
                        <h6 class="title">Luca B</h6><br>
                        <strong><i class="fa fa-map-marker"></i>&nbsp; Indonesia</strong>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Feedback</div>
                        <div class="col-md-6 pad smallFont align-right">No Feedback</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Total Spend</div>
                        <div class="col-md-6 pad smallFont align-right">$0</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Jobs Posted</div>
                        <div class="col-md-6 pad smallFont align-right">1</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Jobs Paid</div>
                        <div class="col-md-6 pad smallFont align-right">0</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Paid Invoices</div>
                        <div class="col-md-6 pad smallFont align-right">0</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 pad smallFont align-left">Outstanding Invoices</div>
                        <div class="col-md-6 pad smallFont align-right">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>