<div class="container pad-t-15 pad-b-15">
    <div class="row" style="padding-bottom: 15px;">
        <div class="col-md-10 pad-l" style="display: inline-flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" (click)="category.toggle($event)" type="button"><i
                        class="fa fa-list-alt"></i> &nbsp;Any Category
                    <span class="caret"></span>
                    <p-overlayPanel #category styleClass="sortBy">
                        <ol class="subMenu"
                            style="list-style-type:none; margin-bottom: 0px; padding-left: 0px; padding-bottom: 0;">
                            <li> HTML</li>
                            <li> CSS</li>
                            <li> Javascript</li>
                            <li> Angular</li>
                            <li> Web Development</li>
                            <li> Web Design</li>
                            <li style="padding-bottom: 0;">DB Design</li>
                        </ol>
                    </p-overlayPanel>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Select a Category</a></li>
                </ul>
            </div>
            <input type="text" class="form-control textBox">
        </div>
        <div class="col-md-2 pad">
            <button class="btn btn-primary dropdown-toggle" type="button" (click)="taskFilter.toggle($event)"><i
                    class="fa fa-filter"></i> &nbsp;Filters
                <span class="caret"></span></button>
            <p-overlayPanel #taskFilter styleClass="taskFilter">
                <ol class="row" style="list-style-type:none; padding-left: 0px;">
                    <li class="col-md-4">Skills
                        <ol class="subItems" style="list-style-type:none; padding-bottom: 0; padding-left: 0px;">
                            <li style="padding-left:25px;"><input type="checkbox" name="skills1"> HTML</li>
                            <li style="padding-left:25px;"><input type="checkbox" name="skills2"> CSS</li>
                            <li style="padding-left:25px;"><input type="checkbox" name="skills3"> Javascript</li>
                            <li style="padding-left:25px; padding-bottom: 0;"><input type="checkbox" name="skills4">
                                Angular</li>
                        </ol>
                    </li>
                    <li class="col-md-4">Topic
                        <ol class="subItems" style="list-style-type: none; padding-bottom: 0; padding-left: 0px;">
                            <li style="padding-left:25px"><input type="radio" name="topic"> Web Development</li>
                            <li style="padding-left:25px;"><input type="radio" name="topic"> Web Design</li>
                            <li style="padding-left:25px; padding-bottom: 0;"><input type="radio" name="topic"> DB
                                Design</li>
                        </ol>
                    </li>
                    <li class="col-md-4">Task Type
                        <ol class="subItems" style="list-style-type: none; padding-bottom: 0; padding-left: 0px;">
                            <li style="padding-left:25px"><input type="checkbox" name="type1"> Micro Task</li>
                            <li style="padding-left:25px;"><input type="checkbox" name="type2"> Micro Project</li>
                        </ol>
                    </li>
                </ol>
            </p-overlayPanel>
        </div>
    </div>
    <div class="col-md-12 pad card">
        <div class="card-header">
            <!-- <input type="checkbox">&nbsp; -->
            <label> 10 Results</label>
            <div class="pull-right"><strong>Sort By: &nbsp; </strong>
                <label style="cursor: pointer;" (click)="sortBy.toggle($event)">Newest <i
                        class="fa fa-angle-down"></i></label>
                <p-overlayPanel #sortBy styleClass="sortBy">
                    <ol class="subMenu"
                        style="list-style-type:none; margin-bottom: 0px; padding-left: 0px; padding-bottom: 0;">
                        <li>Newest</li>
                        <li>Oldest</li>
                        <li>Coming Soon</li>
                    </ol>
                </p-overlayPanel>
            </div>
        </div>
        <div class="card-body pad">
            <app-post-overview-card *ngFor="let task of taskList" [taskDetails]="task"
                (showTaskDetails)="showSidebarFn($event)" (showScreeningPopup)="showScreeningPopupFn($event)">
            </app-post-overview-card>
        </div>
    </div>
</div>

<p-sidebar [(visible)]="displaySidebar" position="right" [blockScroll]="true" styleClass="ui-sidebar-lg profileDetails">
    <app-post-detail [taskDetails]="selectedTaskDetails" (showScreeningPopup)="showScreeningPopupFn($event)">
    </app-post-detail>
</p-sidebar>

<p-dialog header="Task Screening" [(visible)]="showScreeningPopup" [modal]="true" [responsive]="true"
    [style]="{width: '70%'}" [maximizable]="true" [baseZIndex]="10000" [blockScroll]="true"
    [contentStyle]="{'overflow':'visible', 'minHeight': '40vh'}">
    <div class="row" [formGroup]="taskApplicationForm">
        <div class="col-md-6">
            <label><strong>Available Start Date:</strong></label><br />
            <div class="ml-5 mt-3">
                <p-calendar formControlName="startDate" dateFormat="dd/mm/yy"
                    [maxDate]="taskApplicationForm.get('endDate').value" [showIcon]="true" placeholder="Start Date">
                </p-calendar>
            </div>
        </div>
        <div class="col-md-6">
            <label><strong>Available End Date:</strong></label><br />
            <div class="ml-5 mt-3">
                <p-calendar formControlName="endDate" dateFormat="dd/mm/yy"
                    [minDate]="taskApplicationForm.get('startDate').value" [showIcon]="true" placeholder="End Date">
                </p-calendar>
            </div>
        </div>
        <div class="col-md-12 mt-4" formArrayName="screeningQuestions"
            *ngIf="taskApplicationForm.get('screeningQuestions')['controls'].length">
            <label><strong>Screening Questions:</strong></label><br />
            <div class="ml-5 mt-3">
                <span class="ui-float-label mt-4"
                    *ngFor="let question of taskApplicationForm.get('screeningQuestions')['controls']; let i=index;"
                    [formGroupName]="i">
                    <input formControlName="answer" id="float-input" type="text" size="80" pInputText>

                    <label formGroupName="question" for="float-input"><code>{{getQuestionName(i)}}</code></label>
                </span>
            </div>
        </div>
        <div class="col-md-12 mt-4">
            <label><strong>Comments or Notes:</strong></label><br />
            <div class="ml-5 mt-3">
                <span class="ui-float-label mt-3">
                    <textarea id="float-input-1" cols="80" pInputTextarea formControlName="commentsOrNotes"></textarea>
                    <label for="float-input-1"><code>Ask you questions or provide notes here:</code></label>
                </span>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" class="btn btn-default" (click)="showScreeningPopup=false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="showScreeningPopup=false; applyToPost()">Apply</button>
    </p-footer>
</p-dialog>