<div class="row ">
    <div class="col-md-2">
        <ul class="nav flex-column nav-pills" aria-orientation="vertical">
            <li class="nav-link" [ngClass]="{'active': ( selectedDocumentValue == document.documentValue) }"
                *ngFor="let document of taskDetails.documents">
                <a [routerLink]="" (click)="selectDocumentSection(document)">{{document.documentName}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div [hidden]="selectedDocumentValue != document.documentValue"
            *ngFor="let document of taskDetails.documents; let i=index">
            <div class="card card-user mb-2" *ngFor="let section of document.sections">
                <div class="card-header" *ngIf="section.isSection">
                    <h5 class="card-title ">{{document.documentName}}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>{{section.header}} </label>
                                <div [ngSwitch]="section.valueType">
                                    <div *ngSwitchCase="'radio'" class="ui-g" style="width:250px;margin-bottom:10px">
                                        <div class="ui-g-12" *ngFor="let radio of section.options">
                                            <p-radioButton name="group1" value="{{radio.value}}" label="{{radio.value}}"
                                                [(ngModel)]="radio.isSelected" inputId="opt1">
                                            </p-radioButton>
                                        </div>
                                    </div>

                                    <textarea *ngSwitchCase="'textarea'" type="text" class="form-control"
                                        name="{{section.sectionValue}}" [(ngModel)]="section.value"></textarea>

                                    <div class="row" *ngSwitchCase="'chipset'">
                                        <div class="col-md-4 height50" *ngFor="let chip of section.options">
                                            <div class="card text-center align-middle h-100 chipsetBoxShadow">
                                                {{chip.value}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ml-2 text-success" *ngSwitchCase="'dynamicInputSet'">
                                        <a class=""><i class="fa fa-plus"></i></a>
                                        <span class="ml-2">Add</span>
                                    </div>

                                    <p-chips *ngSwitchCase="'dynamicChipSet'" [(ngModel)]="section.value"></p-chips>

                                    <input *ngSwitchDefault type="text" class="form-control"
                                        name="{{section.sectionValue}}" [(ngModel)]="section.value">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-user">
            <div class="card-body">
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-primary btn-round"
                            (click)="changeDocumentByIndex()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>