<div class="row pt-4">
    <div class="col-md-2">
        <app-post-edit-menu [selectedTemplateId]="selectedTemplateId" (openSection)="openSection($event)">
        </app-post-edit-menu>
    </div>

    <div class="col-md-10">
        <div [ngSwitch]="selectedTemplateId">
            <app-post-overview *ngSwitchCase="TASK_SECTION['TASK_OVERVIEW']" [taskForm]="taskForm" [refData]="refData">
            </app-post-overview>
            <app-post-description *ngSwitchCase="TASK_SECTION.TASK_DESCRIPTION" [taskForm]="taskForm">
            </app-post-description>
            <app-post-details *ngSwitchCase="TASK_SECTION.TASK_DETAILS" [taskForm]="taskForm" [refData]="refData">
            </app-post-details>
            <app-post-screening *ngSwitchCase="TASK_SECTION.TASK_SCREENING" [taskForm]="taskForm">
            </app-post-screening>
            <app-post-review *ngSwitchCase="TASK_SECTION.REVIEW_AND_POST" [taskForm]="taskForm" [refData]="refData">
            </app-post-review>
        </div>

        <div class="card card-user boxShadow">
            <div class="card-body">
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-secondary btn-round mr-3"
                            *ngIf="TASK_SECTION.REVIEW_AND_POST != selectedTemplateId && TASK_SECTION.TASK_OVERVIEW != selectedTemplateId"
                            (click)="previousSection()">Previous</button>
                        <button type="submit" class="btn btn-primary btn-round"
                            *ngIf="TASK_SECTION.REVIEW_AND_POST != selectedTemplateId else submitButton"
                            (click)="nextSection()">Next</button>
                        <ng-template #submitButton>
                            <button type="submit" class="btn btn-primary btn-round"
                                (click)="submitTaskForm()">Submit</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showSampleTemplates" [closeOnEscape]="false" [dismissableMask]="false" [closable]="false"
    [modal]="true" header="Getting Started" styleClass="templatePopup">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group p-2">
                    <label class="font-weight-bold">What would you like to do?</label><br />
                    <div class="radio p-1">
                        <label><input class="mr-2" type="radio" [value]="'newTask'" name="startingTaskType"
                                [(ngModel)]="startingTaskType">Create a new
                            Task</label>
                    </div>
                    <div class="radio p-1">
                        <label><input class="mr-2" type="radio" [value]="'existingTask'" name="startingTaskType"
                                [(ngModel)]="startingTaskType">Edit an
                            Existing Draft</label>
                        <br />
                        <div class="mt-3 ml-2" *ngIf="startingTaskType == 'existingTask'">
                            <p-dropdown [options]="refData['taskTemplates']" [(ngModel)]="selectedTemplate"
                                placeholder="Select Existing Task" optionLabel="templateName"></p-dropdown>
                        </div>
                    </div>
                    <div class="radio p-1">
                        <label><input class="mr-2" type="radio" [value]="'templateTask'" name="startingTaskType"
                                [(ngModel)]="startingTaskType">Select Task
                            Template and Start</label>
                        <br />
                        <div class="mt-3 ml-2" *ngIf="startingTaskType == 'templateTask'">
                            <p-dropdown [options]="refData['taskTemplates']" [(ngModel)]="selectedTemplate"
                                placeholder="Select Task Template" optionLabel="templateName"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="continueTaskCreation(startingTaskType)"
            label="Continue"></button>
    </p-footer>
</p-dialog>