
body {
    background-color: #F2F2F2 !important;
    font-size: 12px;
    font-family: Arial;
}

.navbar {
    box-shadow: 0 1px 6px rgba(57,73,76,0.35) !important;
}
.fa-star.active {color: #008de6;}
.cursorPointer {
    cursor: pointer;
}
.form-control:focus {
    box-shadow: none !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.btn {padding: 4px 10px !important; border-radius: 0px !important;}
label {margin-bottom: 0px !important;}

.pad{ padding: 0px !important; }
.pad-l{ padding-left: 0px !important; }
.pad-r{ padding-right: 0px !important; }
.pad-t{ padding-top: 0px !important; }
.pad-b{ padding-bottom: 0px !important; }
.pad-20{ padding: 0px 20px !important; }
.pad-t-15{margin-top: 15px !important;}
.pad-b-15{margin-bottom: 15px !important;}
.mar-r-10{margin-right: 10px !important;}
.mar-t-10{margin-top: 10px !important;}

.mar{ margin: 0px;}
.row{ margin: 0px !important;}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(203,203,203,0.2)
}

::-webkit-scrollbar-thumb {
    background: #CBCBCB;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #CBCBCB;
}

.responsive-tabs-container ::-webkit-scrollbar-thumb {
    background: rgba(25,25,25,0.35) !important;
    border-radius: 10px;
    background: transparent;
} 

.responsive-tabs-container ::-webkit-scrollbar {
    width: 6px;
    height: 10px;
} 

.boxShadow {
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.form-control-details label, li {
    font-size: 1em;
    cursor: pointer;
}

.labelFontBold {
    font-weight: 500;
}

.label-default {
  background: #eee;
  padding: 6px 8px;
  margin: 7px;
}

