<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" [routerLink]="entitlementService.isUserLoggedIn ? ['home/overview'] :['']">
            <img src="assets/images/quest.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quest Hub
        </a>
        <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item mr-2" *ngIf="!entitlementService.isUserLoggedIn">
                <a class="nav-link">HOW IT WORKS</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" (click)="op.toggle($event)">TASKS</a>
                <p-overlayPanel [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" #op
                    [dismissable]="true">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['posts', 'edit', 0]" routerLinkActive="active">POST A
                                TASK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['posts', 'myPosts']" routerLinkActive="active">MY
                                TASKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['posts']" routerLinkActive="active">ALL TASKS</a>
                        </li>
                    </ul>
                </p-overlayPanel>
            </li>
            <li class="nav-item mr-2" *ngIf="entitlementService.isUserLoggedIn">
                <a class="nav-link" (click)="oq.toggle($event)">USERS</a>
                <p-overlayPanel #oq [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['profiles']">FIND USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['profiles','myProfiles']">MY USERS</a>
                        </li>
                    </ul>
                </p-overlayPanel>
            </li>
            <li class="nav-item mr-2">
                <label class="expandSearch">
                    <input type="text" class="form-control" placeholder="Search..." name="search">
                    <i class="fa fa-search fa-pad"></i>
                </label>
            </li>

            <li class="nav-item customOverlayWidth">
                <a class="nav-link" (click)="notification.toggle($event)">
                    <i class="fa fa-bell fontSize24"></i>
                    <span class="badge badge-danger">1</span>
                </a>
                <p-overlayPanel #notification [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['inbox']">
                                <p>You have 1 new Application(s):</p>
                                <span class="text-success">Needed a web developer to create...</span>
                            </a>
                        </li>
                    </ul>
                </p-overlayPanel>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['invitation']"><i class="fa fa-user-plus fontSize24"></i></a>
            </li> -->

            <li class="nav-item customOverlayWidth">
                <a class="nav-link" (click)="or.toggle($event)"><i class="fa fa-user-circle-o fontSize24"></i></a>
                <p-overlayPanel #or [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-user-circle-o"></i> &nbsp; Amit Navarkar </a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="nav-item">
                            <a class="nav-link">SETTINGS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['login']" *ngIf="entitlementService.isUserLoggedIn"
                                (click)="logOutUser()"> LOGOUT</a>
                        </li>
                    </ul>
                </p-overlayPanel>
            </li>
        </ul>
    </div>
</nav>